/* Testimonials.module.css */
.root :global(.swiper-wrapper) {
  display: flex !important;
  align-items: stretch;
}

.root :global(.swiper-slide) {
  height: auto;
  display: flex !important;
  flex-direction: column;
}

.pagination :global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
}

.pagination :global(.swiper-pagination-bullet.swiper-pagination-bullet-active) {
  background-color: var(--color-primary);
}
