/* Testimonials.module.css */
.root :global(.swiper-wrapper) {
  display: flex !important;
  align-items: stretch;
}

.root :global(.swiper-slide) {
  height: auto;
  display: flex !important;
  flex-direction: column;
}

